.items-base() {
  margin: 0;
  padding: 0;
  list-style: none;
}
.legend-style () {
  font-family: @base-font-family;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #d22856;
  text-transform: uppercase;
  width: 280px;
}
.bg-green-btn () {
  display: inline-block;
  font-family: @base-font-family;
  width: 280px;
  background-color:#2aab6d;
  border: none;
  cursor: pointer;
  font-size: 18px;
  line-height: 30px;
  padding: 16px 0;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
}
.font-base-pattern (@f-family, @f-size, @line-height, @f-weight, @color) {
  font-family:@f-family;
  font-size: @f-size;
  line-height: @line-height;
  font-weight: @f-weight;
  color: @color;
}
.slider-controls () {
  display: inline-block;
  width: 5px;
  height: 5px;
  margin: 0 3px;
  vertical-align: top;
  background: #b5b9be;
  border: 3px solid #283645;
  border-radius: 50%;
  cursor: pointer;
}
.wrapper(@width:280px) {
  width:@width;
  margin: 0 auto;
}
