@base-width:320px;
@base-font-family: "Open Sans","Arial", sans-serif;
@bold:700;
@regular:400;
@light:300;
@label-color:#d22856;
@form-base-color:#283645;
@mobile-widths-only: ~"(max-width: 659px)";
@tablet-widths: ~"(min-width: 660px)";
@desktop-widths: ~"(min-width: 960px)";
