@base-width:320px;
@base-font-family: "Open Sans","Arial", sans-serif;
@bold:700;
@regular:400;
@light:300;
@label-color:#d22856;
@form-base-color:#283645;
@tablet-widths: ~"(min-width: 700px)";
@desktop-widths: ~"(min-width: 1000px)";
