.achievement {
  width: @base-width;
  min-height: 605px;
  outline: 1px solid pink;
  padding: 0;
  border: none;
  background: rgba(195, 29, 33, 0,3);
}

.achievement__items {
  .items-base();
}

.achievement__title {
  .legend-style ();
  margin: 0;
  //background-color: #f2f2f2;
}

.achievement__label {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  padding-left: 62px;
}

.achievement__item {
  margin-top: 50px;
}
@media @tablet-widths {
  .achievement {
    position: relative;
      width: 700px;
      background: rgba(195, 29, 33, 0.3);
      outline: 1px solid #c31d21;
      top: 730px;
      min-height: 560px;

}
}
