.achievement {
  width: @base-width;
  height: 605px;
  outline: 1px solid pink;
  padding: 0;
  border: none;
  background: rgba(219, 111, 49, 0.5);
  @media @tablet-widths {
    position: relative;
    width: 700px;
    background: rgba(195, 29, 33, 0.3);
    outline: 1px solid #c31d21;
    top: 730px;
    height: 560px;
  }
  @media @desktop-widths {
    width: 950px;
    height: 250px;
    margin: 0 auto;
    top: 270px;
  }
}

.achievement__items {
  .items-base();
}

.achievement__title {
  .legend-style ();
  margin: 0;
}

.achievement__label {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  padding-left: 62px;
}

.achievement__item {
  margin-top: 50px;
  @media @desktop-widths {
    display: inline-block;
    width: 250px;
    height: 50px;
    background: rgba(219, 111, 49, 0.4);
    margin-top: 50px;
  }
}
