.achievement {
  width: @base-width;
  height: 605px;
  outline: 1px solid pink;
  padding: 0;
  border: none;
  background-color: #f2f2f2;
}


.achievement__items {
.items-base();
}
.achievement__title {
.legend-style ();
padding-top: 25px;
margin: 0;
background-color:#f2f2f2;
}
.achievement__label {
.font-base-pattern(@base-font-family, 18px, 30px, @regular, @form-base-color);
 font-family: @base-font-family;
 text-align: center;
 padding-left: 62px;
}
.achievement__item {
  margin-top: 50px;
}
