.button {

  &--download {
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  font-family: "Open Sans","Arial", sans-serif;
  padding: 20px;
  border: 2px solid #ffffff;
  border-radius: 20px;
  margin-top: 30px;
  margin-left: 15px;
  text-align: center;


  }
}
