.download {
  background-color: #1d2631;
  width: @base-width;
  min-height: 270px;
  outline: 1px solid red;
  margin-bottom: 0;
}
  .download__items {
    .items-base();
    margin-bottom: 20px;
  }
  .download__item {
    display: inline-block;
  }
  .download__link {
    display: block;
    outline: 1px solid red;
    background-repeat: no-repeat;
    background-position: center;
    width: 47px;
    height: 56px;
    font-size: 0;
  }
  .download__link--IOS {
    background-image: url("../img/logo-apple.svg");
    margin-left: 58px;
  }
  .download__link--Android {
    background-image: url("../img/logo-android.svg");
    margin-left: 26px;
  }
  .download__link--Windows {
    background-image: url("../img/logo-microsoft.svg");
    margin-left: 30px;
  }
  .download__support {
    .font-base-pattern(@base-font-family, 14px, 21px, @regular, #ffffff);
    text-align: center;
  }
