.features {
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  min-height: 1030px;
  @media (min-width: 320px) and (min-resolution: 144dpi), (min-width: 320px) and (min-resolution: 1.5dppx) {
    background-image: url("../img/iphone-screen-mobile@2x.png");
    background-size: 157px 320px;
  }

  @media @tablet-widths {
    background-image: none;
    min-height: 780px;
  }
  @media @desktop-widths {
    min-height: 940px;
  }
}

.features__proposal-container {
  background: rgba(2, 157, 15, 0.4);
  height: 220px;
  @media @tablet-widths {
    background: rgba(2, 157, 15, 0.4);
    height: 220px;
  }
  @media @desktop-widths {
    background: rgba(2, 157, 15, 0.4);
    height: 325px;
  }
}

.features__proposal {
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  font-weight: @light;
  min-height: 50px;
  background-color: rgba(50, 187, 187, 0.3);
  @media @tablet-widths {
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    font-weight: @light;
  }
  @media @desktop-widths {
    font-size: 50px;
    line-height: 55px;
  }
}

.features__proposal:nth-child(1) {
  padding-top: 12%;
  padding-bottom: 5%;
  @media @tablet-widths {
    padding: 0;
    padding-top: 50px;
  }
}

.features__proposal:nth-child(2) {
  padding-top: 7%;
  @media @tablet-widths {
    padding: 0;
  }
}

.features__items {
  background-color: rgba(241, 203, 255, 0.3);
  height: 450px;
  margin-top: 55px;
  @media @tablet-widths {
    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    margin-top: 0;
    background-position: 75px 20px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    height: 560px;
  }
    @media (min-width: 660px) and (min-resolution: 144dpi), (min-width: 320px) and (min-resolution: 1.5dppx) {
    .features__items {
      background-image: url("../img/iphone-screen-3-tablet@2x.png.png");
      background-size: 268px 481px;
      background-position: 75px 20px;
    }
  }



  @media @desktop-widths {
    background-image: none;
    align-items: flex-start;
    flex-direction: row;
    margin: auto;
  }
}



.features__item {
  margin-bottom: 12px;
  min-height: 110px;
  background: rgba(166, 42, 85, 0.3);
  outline: 1px solid red;
  @media @tablet-widths {
    min-height: 120px;
    background: rgba(166, 42, 85, 0.3);
    margin-bottom: 0;
    margin-top: 25px;
    width: 390px;
  }
  @media @desktop-widths {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0;
  }
}

.features__pic {
  display: none;
  @media @desktop-widths {
    display: block;
    margin-bottom: 20px;
    margin: 0 auto;
  }
}
.features__pic:first-child {
    @media @desktop-widths {
    margin-left: 40px;
}
}

.features__title {
  font-weight: @bold;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 15px;
  padding-top: 5%;
  @media @tablet-widths {
    font-size: 20px;
    text-align: start;
    padding: 0;
    margin: 0;
  }
  @media @desktop-widths {
    font-size: 30px;
    line-height: 30px;
    font-weight: @bold;
    padding-top: 50px;
    padding-bottom: 0;
    width: 260px;
    text-align: center;
  }
}

.features__description {
  font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    width: 270px;
    background: rgba(51, 204, 255, 0.3);
    text-align: center;
    margin: 0 auto;
  @media @tablet-widths {
    text-align: start;
    padding: 0;
    width: 310px;
    margin: 10px;
  }
  @media @desktop-widths {
    margin: 0;
    margin-top: 7%;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
}

.features__description:nth-child(3) {
  @media @desktop-widths {
    width: 240px;
  }
}
