.features {
  background-position: 85px 720px;
  background-repeat: no-repeat;
  width: @base-width;
  min-height: 1030px;
  @media @tablet-widths {
    position: relative;
    min-width: 100%;
    min-height: 780px;
  }
  @media @desktop-widths {
    min-height: 940px;
  }
}

.features__proposal-container {
  height: 220px;
  @media @tablet-widths {
    position: relative;
    top: 55px;
    height: 220px;
    width: 700px;
  }
  @media @desktop-widths {
    width: 100%;
    background: rgba(2, 157, 15, 0.4);
    height: 320px;
  }
}

.features__proposal {
  min-height: 50px;
  padding-left: 60px;
  padding-top: 40px;
  background-color: rgba(50, 187, 187, 0.3);
  @media @tablet-widths {
    text-align: center;
    padding-top: 0;
    font-size: 35px;
  }
}

.features__items {
  .items-base();
  margin-top: 60px;
  background-color: rgba(241, 203, 255, 0.3);
  @media @tablet-widths {
    min-height: 440px;
    width: 370px;
    float: right;
    margin-top: 75px;
  }
  @media @desktop-widths {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    float: none;
    min-width: 1000px;
    margin: 0 auto;
    position: relative;
    top: 350px;
    min-height: 200px;
  }
}

.features__item:first-child {
  @media @tablet-widths {
    margin-top: 0px;
  }
}

.features__item {
  margin: 0;
  min-width: 325px;
  min-height: 120px;
  display: inline-block;
  background: rgba(166, 42, 85, 0.3);
  margin-top: 10px;
  @media @tablet-widths {
    display: block;
    background: rgba(166, 42, 85, 0.3);
    min-height: 130px;
  }
  @media @desktop-widths {
    height: 250px;
    display: block;
    width: 200px;
    margin: 0;
  }
}

.features__title {
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding-top: 5px;
  @media @tablet-widths {
    text-align: left;
    padding-left: 20px;
    padding-top: 20px;
  }
}

.features__description {
  width: 300px;
  background: rgba(51, 204, 255, 0.3);
  margin-left: 20px;
  margin-top: 10px;
  text-align: center;
  @media @tablet-widths {
    text-align: left;
  }
}
