.feedback {
  box-sizing: border-box;
  border: none;
  background: rgba(85, 184, 127, 0.3);
  outline: 1px solid rgba(85, 184, 127, 0.8);
  @media @tablet-widths {
    width: 620px;
    order: 3;
    margin-top: 60px;
    border: none;
  }
  @media @desktop-widths {
    position: relative;
    margin-top: 0;
    width: 950px;
    height: 170px;
  }
}

.feedback__items {
  .items-base();
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  @media @tablet-widths {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 40px;
    flex-direction: column;
    margin-top: 45px;
  }
  @media @desktop-widths {
    flex-direction: row;
  }
}

.feedback__input {
  width: 275px;
  height: 55px;
  margin-bottom: 25px;
  margin-top: 6px;
  @media @tablet-widths {
    width: 435px;
    order: -1;
    margin-bottom: 15px;
    margin-left: 10px;
  }
  @media @desktop-widths {
    width: 310px;
    margin: 0;
    padding: 0;
    margin-left: 14px;
    margin-top: 0;
  }
}

.feedback__label {
  padding-left: 30px;
  color: #d22856;
  text-transform: uppercase;
  align-self: flex-start;
  @media @desktop-widths {
    padding-left: 30px;
    padding-top: 15px;
  }
}

.feedback__item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  @media @tablet-widths {
    margin-bottom: 25px;
    position: relative;
     &::after {
        content: "";
        position: absolute;
        top: 8px;
        right: -60px;
        display: block;
        width: 60px;
        height: 59px;
        background-color: #e5e5e5;
        background-repeat: no-repeat;
        background-position: center;
        outline: 2px solid red;

  }
}
  @media @desktop-widths {
    width: 440px;
    outline: 2px solid red;
    align-items: flex-start;
     &::after {
       top: 0;
       right: 54px;
     }
  }
}

.feedback__title {
  display: none;
  @media @tablet-widths {
    display: inline;
    position: absolute;
    transform: translate(150px, -10px);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #d22856;
    text-transform: uppercase;
    width: 280px;
    margin: 0;
    line-height: 30px;
  }
  @media @desktop-widths {
    position: absolute;
    transform: translate(300px, -20px);
  }
}
.feedback__item--phone {
     &::after {
    background-image: url("../img/icon-phone.svg");
    }
}
.feedback__item--mail {
     &::after {
    background-image: url("../img/icon-mail.svg");
    }
}
