.feedback {
  width: 280px;
  height: 260px;
  border: none;
  margin: 0 auto;
}

.feedback__items {
  .items-base();
  padding-top: 15px;
}

.feedback__input {
  width: 280px;
  height: 55px;
  margin-bottom: 25px;
}

.feedback__label {
  padding-left: 25px;
  color: #d22856;
  text-transform: uppercase;
}
