.photo {
  width: @base-width;
  min-height: 325px;
  margin-bottom: 15px;
}
.photo__user {
  font-size: 16px;
  font-weight: 700;
}
.photo__content {
  position: relative;
  .wrapper();
  padding-left: 10px;
  background-color: #f2f2f2;
}
.photo__picture {
.wrapper();
}
.photo__time {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  font-weight: @light;
}
.photo__title {
  text-align: left;
  font-size: 16px;
  line-height: 24px;
  font-weight: @light;
}
.photo__likes {
  color: @label-color;
  text-transform: uppercase;
  padding-left: 25px;
}
.photo-editor {
  width: 320px;
  height: 900px;
  margin-top: -11px;
}
.photo-editor__preview {
  .wrapper();
  margin-top: -15px;
  margin-bottom: 45px;
}
.photo-editor__input {
  width: 260px;
  margin-top: 40px;
  margin-left: 25px;
  margin-bottom: 30px;
}
