.photo-editor {
  width: @base-width;
  height: 900px;
  outline: 2px solid orange;
  margin-top: -11px;
}
.photo-editor__preview {
  .wrapper();
  outline: 2px dotted pink;
  margin-top: -15px;
  margin-bottom: 45px;
}
.photo-editor__input {
  width: 260px;
  margin-top: 40px;
  margin-left: 25px;
  margin-bottom: 30px;
}
//проверка
