.photo-editor {
  width: 100%;
  min-height: 690px;
  outline: 2px solid orange;
  @media @tablet-widths {
    //.container();
    //background-color: orange;
    //padding-left: 20px;
    //padding-right: 20px;

  }
}

.photo-editor__slogan {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 130px;
  outline: 2px solid pink;
  background: rgba(133, 36, 36, 0.4);
  align-items: center;
  text-align: center;
  padding-top: 47px;
  font-size: 14px;
  line-height: 30px;
  @media @tablet-widths {
    padding-top: 40px;
    font-size: 18px;
    line-height: 30px;
    font-weight: @regular;

  }
  @media @desktop-widths {
    padding-top: 0;
  }
}

.photo-editor__preview {
  width: 280px;
  height: 374px;
  margin-top: 25px;
  height: auto;
  //background: rgba(132, 32, 32, 0.3);
  opacity: 0.7;
  margin-bottom: 5px;
  @media @tablet-widths {
    height: 400px;
    width: 300px;
    margin: 0;
    padding-right: 10px;
  }
  @media @desktop-widths {
    margin-left: 20px;
  }
}

.photo-editor__picture {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.photo-editor__columns {
  display: flex;
  flex-direction: column;
  @media @tablet-widths {
    flex-direction: row;
    height: 515px;
    .wrapper(700px);
  }
  @media @desktop-widths {
    .wrapper(930px);
  }
}

.photo-editor__column-1 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  outline: 2px solid red;
  @media @tablet-widths {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
  }
  @media @desktop-widths {
    width: 395px;

  }
}

.photo-editor__column-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  outline: 2px solid green;
  @media @tablet-widths {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: space-between;
  }
  @media @desktop-widths {
    width: 560px;
  }
}

.photo-editor__filters {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  margin-bottom: 42px;
  width: 250px;
  @media @tablet-widths {
    width: 350px;
    height: 260px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 36px;
    outline: 2px solid gray;
    margin-bottom: 40px;
  }
  @media @desktop-widths {
    width: 450px;
    margin-top: 50px;
    margin-bottom: 0;
  }
}

.photo-editor__filter {
  @media @tablet-widths {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 310px;
    //margin-bottom: 20px;
    height: 50px;
    border-bottom: 2px solid red;
    padding-top: 22px;
  }
  @media @desktop-widths {
    width: 400px;
    margin-bottom: 22px;
    padding-top: 0;

  }
}

.photo-editor__input {
  width: 260px;
  @media @tablet-widths {
    width: 200px;
    align-self: flex-start;
  }
}

.photo-editor__input--new {
  display: none;
  @media @tablet-widths {
    display: block;
  }
  @media @desktop-widths {
    margin-left: 20px;
  }
}

.photo-editor__btn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 300px;
  height: 200px;
  background: rgba(132, 32, 32, 0.3);
  @media @tablet-widths {
    width: 310px;
  }
  @media @desktop-widths {
    flex-direction: row;
    align-items: flex-end;
    width: 450px;
  }
}

/*.photo-editor__base-range {
  margin-bottom: 20px;
  @media @tablet-widths {
    display: none;
  }
}*/

.photo-editor__items {
  @media @tablet-widths {
    .items-base();
  }
}

.photo-editor__item {
  @media @tablet-widths {
    width: 100%;
    height: 70px;
    outline: 2px solid rgba(2, 125, 42, 1);
    background: rgba(2, 125, 42, 0.3);
  }
}

.photo-editor__some {
  width: 48px;
  height: 47px;
  padding: 0;
  border: none;
  background: transparent no-repeat;
  opacity: 0.3;
  outline: none;
  cursor: pointer;
    @media @tablet-widths {
    width: 24px;
    height: 24px;
    background-size: cover;
    margin-left: 17px;
    margin-top: 5px;
}
@media @desktop-widths {
  height: 48px;
  width: 48px;
  margin-top: 0;
  margin-left: 10px;
}
}
.photo-editor__some--crop {
   background-image: url("../img/icon-editor-crop.svg");
}
.photo-editor__some--fill {
   background-image: url("../img/icon-editor-fill.svg");
}

.photo-editor__some--contrast {
  background-image: url("../img/icon-editor-contrast.svg");
  @media @tablet-widths {
  background-size: 18px 18px;
    background-position: 5px 2px;
  }
  @media @desktop-widths {
    background-size: 35px 35px;
}
}

.photo-editor__scale {
  position: absolute;
  width: 240px;
  height: 2px;
  background-color: black;
  bottom: 0;
  left: 5px;
  @media @tablet-widths {
    width: 200px;
    top: 37px;
    left: 70px;
  }
  @media @desktop-widths {
    width: 285px;
    top: 17px;
    left: 100px;
  }
}
.photo-editor__scale--hidden {
  display: none;
  @media @tablet-widths {
    display: block;
}
}
.photo-editor__toggle {
  position: absolute;
  bottom: -6px;
  right: 35px;
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  border: 2px solid @label-color;
  border-radius: 50%;
  background-color: #f2f2f2;
  cursor: pointer;
}
