.photo-editor {
  width: @base-width;
  min-height: 700px;
  outline: 2px solid orange;
  margin-top: -11px;
}
.photo-editor__preview {
  .wrapper();
  margin-top: 55px;
  margin-bottom: 45px;
  height: 375px;
  background: rgba(132, 32, 32, 0.3);
}
.photo-editor__input {
  width: 260px;
  margin-top: 40px;
  margin-left: 25px;
  margin-bottom: 30px;
}
.photo-editor__btn {
  width: 100%;
  height: 170px;
  background: rgba(132, 32, 32, 0.3);
}
