.popup {
  width: @base-width;
  height: 290px;
  outline: 2px solid pink;
}

.popup__container {
  width: 280px;
  margin: 0 auto;
  outline: 1px dotted blue;
}

.popup__title {
  .font-base-pattern(@base-font-family, 18px, 30px, @bold, black);
  text-align: center;
}

.popup__message {
  .font-base-pattern(@base-font-family, 14px, 24px, @regular, @form-base-color);
}

.popup__message:nth-child(2) {
  text-align: center;
}
