.popup {
  width: @base-width;
  height: 290px;
  outline: 2px solid pink;
}

.popup__container {
  width: 280px;
  margin: 0 auto;
  outline: 1px dotted blue;
}

.popup__title {
  font-weight: @bold;
  color: black;
  text-align: center;
}
