.pricelist {
  position: relative;
  width: @base-width;
  height: 380px;
  background-color: rgba(120, 212, 0, 0.3);
}

.pricelist__option {
  border-bottom: 1px solid #e5e5e5;
  height: 58px;
  text-transform: uppercase;
  padding-left: 45px;
  width: 100%;
  outline: 1px solid rgba(120, 212, 0, 1);
  @media @tablet-widths {
    width: 100px;
  }
  @media @desktop-widths {
    width: 180px;
}
}

.pricelist__option:nth-child (n+1) {
  display: none;
}

.pricelist__items {
  width: @base-width;
  border-collapse: collapse;
  @media @tablet-widths {
    position: relative;
    width: 650px;
    margin-left: 40px;
    top: 40px;
    @media @desktop-widths {
      width: 1200px;
      left: 100px;
      top: 100px;
    }

  }
}
.pricelist__items--mobile{
  @media @tablet-widths {
    display: none;
  }
}
.pricelist__items--tablet {
  display: none;
    @media @tablet-widths {
      display: block;
    }
}




.pricelist__title {
  height: 110px;
  text-align: center;
  width: 100%;
  outline: 1px solid rgba(120, 212, 0, 1);
    @media @tablet-widths {
      width: 100px;
      height: 70px;
    }
    @media @desktop-widths {
      width: 180px;
      height: 100px
}
}

.pricelist__value {
  text-transform: uppercase;
  font-weight: bold;
  //color: #ffffff;
}

.pricelist__price {
  //color: #ffffff;
  font-size: 24px;
  text-transform: uppercase;
}

.pricelist__input {
  display: none;
}

.pricelist__label {
  .slider-label-controls ();
}

.pricelist__controls {
  .slider-controls-styles();
}

@media @tablet-widths {
  .pricelist {
    min-width: 100%;
  }
  .pricelist__controls {
    display: none;
  }
}

@media @desktop-widths {
  .pricelist {
    height: 540px;
  }
}
