.pricelist {
  width: 320px;
  height: 380px;
  outline: 1px solid orange;

  &__option {
  border-bottom: 1px solid black;
  height: 65px;
  font-family: "Open Sans","Arial", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  padding-left: 45px;

  }
  &__items {
    width: 320px;
  }
  &__title {
  background-color: #283645;
  border-bottom: 1px solid black;
  height: 100px;
  text-align: center;
  }
  &__value {
    font-family: "Open Sans","Arial", sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
    color: #ffffff;
    text-transform: uppercase;
  }
  &__price {
    font-family: "Open Sans","Arial", sans-serif;
    font-weight: 300;;
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
    text-transform: uppercase;
  }
  &__inputs {
   margin: 0 auto;
   width: 75px;
   height: 20px;
   padding-top: 20px;

  }
}
