.reviews {
  width: @base-width;
  min-height: 402px;
  position: relative;
  background: rgba(31, 122, 90, 0.3);
}

.reviews__items {
  .items-base();
}

.reviews__item {
  margin: 0;
  width: 280px;
  min-height: 220px;
  @media @desktop-widths {
    display: flex;
    flex-direction: column;
    width: 800px;
  }
}

.reviews__author {
  font-weight: bold;
  //color: #000000;
  text-align: center;
  //.items-base();
  //padding-top: 15px;
}
.reviews__comment {
  //margin-top: 20px;
  //padding-left: 15px;
}

.reviews__input {
  display: none;
}

.reviews__label {
  .slider-label-controls ();
}

.reviews__controls {
  .slider-controls-styles ();
  bottom: 127px;
}

.reviews__author--biography {
  display: none;
  @media @tablet-widths {
    display: block;
  }
}


@media @tablet-widths {
  .reviews {
    min-width: 100%;
    min-height: 302px;
  }
  .reviews__items {
    //position: relative;
    min-width: 100%;
  }
  .reviews__item {
    //min-width: 100%;
    //height: 270px;
    background: rgba(150, 38, 77, 0.3);
  }
  .reviews__author {
    //position: absolute;
    //height: 120px;
    //width: 250px;
    //left: 30%;
    //margin: 0;
    background: rgba(150, 38, 77, 0.3);
    //top: 150px;
  }
  .reviews__controls {
    display: none
  }
  .reviews__comment {
      min-height: 120px;
      //.wrapper(600px);
      background: rgba(150, 38, 77, 0.3);
      //padding-top: 20px;
      //text-align: center;
      //position: relative;
      //top: 20px;
  }
}

@media @desktop-widths {
  .reviews {
    min-height: 400px;
  }


  .reviews__author {
    left: 35%;
  }
}

.reviews__items {
  @media @desktop-widths {
    //position: relative;
    //top: 125px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 350px;

}
}
.reviews__descr {
    @media @desktop-widths  {
      padding-left: 7%;
      padding-top: 2%;
      margin-bottom: 7%;
    }
}
