.reviews {
  width: @base-width;
  min-height: 405px;
  outline: 1px dotted pink;
  margin-top: -18px;
}
  .reviews__items {
    .items-base();
    padding-left: 18px;
    margin-bottom: 30px;
    margin-top: 56px;
  }
  .reviews__item {
    outline: 1px dotted green;
    margin: 0;
    width: 280px;
    min-height: 220px;
  }
  .reviews__comment {
    .font-base-pattern(@base-font-family, 14px, 30px, @regular, @form-base-color);
    padding-top: 10px;
  }
  .reviews__author {
    .font-base-pattern(@base-font-family, 18px, 30px, @bold, #000000);
    text-align: center;
    margin-bottom: -10px;
    padding-top: 5px;
  }
  .reviews__inputs {
    margin: 0 auto;
    width: 75px;
    height: 20px;
  }
