.site-nav__items {
  width: @base-width;
  .items-base();
  @media @tablet-widths {
    width: 700px;
  }
  @media @desktop-widths {
    height: 80px;
    min-width: 860px;
    float: right;
  }
}

.site-nav__link {
  display: block;
  height: 48px;
  border: 1px solid #000000;
  margin-bottom: -1px;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 5%;
  @media @tablet-widths {
    height: 48px;
    padding-top: 2%;
  }
  @media @desktop-widths {
    padding-top: 30%;
    height: 30px;
    line-height: 18px;
    font-weight: @regular;
    text-transform: none;
  }
}

.site-nav__link--pink {
  background-image: url("../img/logo-pink-white-mobile.svg");
  background-repeat: no-repeat;
  background-position: 20px 20px;
  font-size: 0;
  text-align: left;
  padding-left: 20px;
  padding: 19px 0;
}

.site-nav__item {
  @media @tablet-widths {
    width: 100%;
  }
  @media @desktop-widths {
    display: inline-block;
    width: 150px;
    margin-left: 20px;
    border-bottom: none;
  }
}

.site-nav__item:first-child {
  @media @desktop-widths {
    margin-left: 70px;
  }
}
