.site-header {
  //min-height: 300px;
  background-color: rgba(152, 191, 105, 0.3);
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat center bottom;
                 background-size: 700px 462px;

  @media @tablet-widths {
    position: relative;
    background: url("../img/bg-back-tablet@1x.jpg") no-repeat center bottom;
  }
  @media @desktop-widths {
    background: url("../img/bg-back-desktop@1x.jpg") no-repeat center top;
  }
}

@media (min-width: 320px) and (min-resolution: 144dpi),
       (min-width: 320px) and (min-resolution: 1.5dppx) {
  .site-header {
    background: url("../img/bg-back-mobile@2x.jpg") no-repeat center bottom;
                background-size: 700px 462px;
  }
}

@media (min-width: 660px) and (min-resolution: 144dpi),
       (min-width: 660px) and (min-resolution: 1.5dppx) {
  .site-header {
    background: url("../img/bg-back-tablet@2x.jpg") no-repeat center bottom;
                   background-size: 1200px 729px;
  }
}

@media (min-width: 960px) and (min-resolution: 144dpi),
       (min-width: 960px) and (min-resolution: 1.5dppx) {
  .site-header {
    background:  url("../img/bg-back-desktop@2x.jpg") no-repeat center bottom;
                  background-size:2560px 853px;

  }
}


.site-header__columns {
  display: flex;
  flex-direction: column;
}
.site-header__column-1 {
  height: 395px;
}
.site-header__demo {
transform: translate(-20px, 105px);
}
.site-header__challenge {
  height: 175px;
  @media @tablet-widths {
    min-height: 330px;
    //background: rgba(226, 244, 105, 0.3);
  }
  @media @desktop-widths {
    clear: both;
    min-height: 310px;
  }
}


.site-header__descr {
  .items-base();
  .wrapper();
  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
  font-weight: @light ;
  text-align: center;
  padding-top: 25px;
  text-align: center;
  @media @tablet-widths {
    font-size: 50px;
    line-height: 55px;
    font-weight: @light;
    width: 500px;
    margin: auto;
    padding-top: 79px;
  }
  @media @desktop-widths {
    width: 750px;
    padding-top: 100px;
  }
}

.site-header--form {
  min-height: 495px;
}
.site-header__demo-img {
  overflow: hidden;
  width: 320px;
  min-height: 286px;
  margin: 109px auto 0;
  line-height: 0;
    @media @tablet-widths {
    position: relative;
   z-index: 5;
   width: 660px;
   min-height: 545px;
   margin-top: 73px;
 }
   @media @desktop-widths {
    width: 940px;
   min-height: 645px;
   margin-top: 130px;
   }
}
