.site-footer {
  width: 320px;
  min-height: 615px;
  outline: 1px solid green;
  margin-top: -22px;
 &__question {
   font-family: "Open Sans","Arial", sans-serif;
   font-weight: 200;
   font-size: 24px;
   line-height: 30px;
   color: #283645;
   text-align: center;
   padding-top: 40px;
 }
 &__items {
   margin: 0 auto;
   padding: 0;
   list-style: none;
   width: 240px;
   margin-bottom: 45px;

 }
 &__item {
   height: 80px;
   width: 240px;
   outline: 1px dotted pink;
   display: inline-block;
   margin: 0;
   text-align: center;
 }
 &__action {
   font-family: "Open Sans","Arial", sans-serif;
   font-weight: bold;
   font-size: 18px;
   line-height: 24px;
   color: #283645;
   margin-top: 0;
   margin-bottom: 10px;
 }
 &__contact {
   font-family: "Open Sans","Arial", sans-serif;
   font-weight: 200;
   font-size: 24px;
   line-height: 24px;
   color: #d22856;

 }
}
