.site-header {
  position: relative;
  background-color: #283645;
  outline:1px solid red;
  width: 320px;
  min-height: 725px;
  &__general-img {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  }

}
