.site-footer {
  width: @base-width;
  min-height: 615px;
  outline: 1px solid green;
  margin-top: -22px;
}
  .site-footer__question {
    font-family: @base-font-family;
    font-weight: 200;
    font-size: 24px;
    line-height: 30px;
    color: #283645;
    text-align: center;
    padding-top: 40px;
  }
  .site-footer__items {
    .items-base();
    margin: 0 auto;
    width: 240px;
    margin-bottom: 45px;
  }
  .site-footer__item {
    height: 80px;
    width: 240px;
    outline: 1px dotted pink;
    display: inline-block;
    margin: 0;
    text-align: center;
    &:nth-child(3) {
      height: 85px;
    }
  }
  .site-footer__action {
    font-family: @base-font-family;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #283645;
    margin-top: 0;
    padding-top: 5px;
    margin-bottom: 9px;
  }
  .site-footer__action--call {
    padding-top: 10px;
  }
  .site-footer__contact {
    font-family: @base-font-family;
    font-weight: 200;
    font-size: 24px;
    line-height: 24px;
    color: #d22856;
  }
.site-footer--form {
  width: 280px;
  min-height: 205px;
  outline: 3px solid orange;
  margin: 0 auto;
}
.site-footer__logo {
  width: 160px;
  margin: 0 auto;
  outline: 2px dotted pink;
  padding-top: 44px;
  padding-left: 10px;
}
