.slogan {
  width:280px;
  margin: 0 auto;
  min-height: 120px;
  padding-top: 25px;

&__about {

outline: 1px solid blue;
font-family: @base-font-family;
font-size: 14px;
line-height: 30px;
font-weight: 400;
text-align: center;
}

}
