.slogan {
  width:280px;
  margin: 0 auto;
  min-height: 120px;
  padding-top: 25px;
}

.slogan__about {

outline: 1px solid blue;
.font-base-pattern(@base-font-family, 14px, 30px, @regular, @form-base-color);
text-align: center;
}
