.soft {
  width: @base-width;
  height: 340px;
  outline: 1px dotted orange;
  border: none;
  margin: 0;
  padding: 0;
}

.soft__items {
  .items-base();
}

.soft__title {
  .legend-style ();
  outline: 1px dotted pink;
  padding-top: 35px;
}

.soft__label {
  text-align: center;
  padding-left: 65px;
}

.soft__item {
  margin-top: 43px;
}
