.soft {
  width: @base-width;
  height: 340px;
  border: none;
  .items-base();
  background: rgba(245, 236, 98, 0.5);
}

.soft__items {
  .items-base();
}

.soft__title {
  .legend-style ();
}

.soft__label {
  text-align: center;
  padding-left: 65px;
}

.soft__item {
  margin-top: 43px;
}

@media @tablet-widths {
  .soft {
    width: 700px;
    position: relative;
    background: rgba(245, 236, 98, 0.5);
    bottom: 900px;
    outline: 1px solid rgba(245, 236, 98, 1);
  }
}

@media @desktop-widths {
  .soft {
    width: 500px;
    position: relative;
    background: rgba(245, 236, 98, 0.5);
    bottom: 800px;
    outline: 1px solid #f5ec62;
    left: 600px;
    height: 350px;
  }
}
