.study {
  display: none;
  @media @tablet-widths {
    display: block;
    min-height: 340px;
    background: rgba(120, 212, 0, 0.3);
  }
  @media @desktop-widths {
    min-height: 470px;
  }
}

.study__content {
  padding-top: 50px;
  min-height: 230px;
  width: 400px;
  float: right;
  background: rgba(16, 0, 212, 0.3);
  @media @desktop-widths {
    min-width: 750px;
    min-height: 250px;
    padding-top: 150px;
  }
}
.study__link,
.study__descr {
  @media @tablet-widths {
    padding-left: 35px;
    padding-bottom: 20px;
  }
}
.study__title {
    @media @tablet-widths {
      padding-left: 30px;
      padding-bottom: 30px;
      font-size: 35px;
      width: 200px;
    }
}
