.user-name {
width: 280px;
min-height: 365px;
outline: 1px solid red;
margin: 0 auto;

}
.user-name__items {
.items-base();
}
.user-name__input {
  width: 280px;
  height: 55px;
  outline: 1px solid green;
  margin-bottom: 25px;
}
::-webkit-input-placeholder {
  color: #283645;
  font-family: @base-font-family;

  font-size: 18px;
  line-height: 30px;
  text-align: left;
  font-weight: 400;
}
.user-name__label {
  padding-left: 25px;
  font-family: @base-font-family;
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
  font-weight: 400;
  text-transform: uppercase;
}
