.user-form__footnote {
  width: 185px;
  margin: 0 auto;
  height: 30px;
  outline: 1px dotted green;
  .font-base-pattern(@base-font-family, 14px, 30px, @regular, @form-base-color);
  text-transform: uppercase;
  padding-top: 26px;


}
