.user-impression {
  height: 380px;
  width: 280px;
  margin: 0 auto;
  border: none;
  padding: 0;
}

.user-impression__title {
  .legend-style ();
  padding-top: 35px;
}

.user-impression__textarea {
  width: 280px;
  height: 260px;
}

.user-form__footnote {
  width: 185px;
  margin: 0 auto;
  height: 30px;
  text-transform: uppercase;
  padding-top: 26px;
}
