.user-impression {
  height: 380px;
  width: 280px;
  margin: 0 auto;
  border: none;
  padding: 0;
}

.user-impression__title {
  .legend-style ();

}

.user-impression__textarea {
  width: 280px;
  height: 260px;
}

.user-form__footnote {
  width: 185px;
  margin: 0 auto;
  height: 30px;
  text-transform: uppercase;
  padding-top: 26px;
}
@media @tablet-widths {
.user-impression {
  position: relative;
  top:100px;
width: 650px;
border: none;
height: 345px;
padding: 0;
background: rgba(219, 111, 49, 0.3);
outline: 1px solid rgba(219, 111, 49, 0.8);
}
.user-impression__textarea {
width: 545px;
height: 250px;
}

}
@media @desktop-widths {
  .user-impression {
    width: 950px;
height: 200px;
margin: 0 auto;
top: -250px;
  }
}
