.user-name {
  box-sizing: border-box;
  min-height: 365px;
  background: rgba(101, 196, 249, 0.4);
  @media @tablet-widths {
    width: 620px;
    order: 1;
    border: none;
  }
  @media @desktop-widths {
    width: 470px;
  }
}

.user-name__items {
  .items-base();
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media @tablet-widths {
    margin: 0;
    align-items: flex-start;
  }
  @media @desktop-widths {
    margin-top: 10px;
  }
}

.user-name__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media @tablet-widths {
    flex-direction: row;
  }
}

.user-name__input {
  width: 270px;
  height: 55px;
  margin-bottom: 23px;
  margin-top: 7px;
  @media @tablet-widths {
    width: 505px;
    margin-bottom: 47px;
    margin-left: 10px;
  }
  @media @desktop-widths {
    margin: 0;
    width: 330px;
    margin-bottom: 55px;
    margin-left: 10px;
  }
}

.user-name__label {
  align-self: flex-start;
  color: @label-color;
  text-transform: uppercase;
  padding-left: 20px;
  @media @tablet-widths {
    transform: translate(-5px, 25px);
    padding-left: 0;
  }
}
