.user-name {
  width: 280px;
  min-height: 365px;
  outline: 1px solid red;
  margin: 0 auto;
}

.user-name__items {
  .items-base();
}

.user-name__input {
  width: 280px;
  height: 55px;
  outline: 1px solid green;
  margin-bottom: 25px;
}

.user-name__input placeholder {
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  text-align: left;
}

.user-name__label {
  padding-left: 25px;
  color: @label-color;
  text-transform: uppercase;
}
