.user-form__footnote {
  width: 185px;
  margin: 0 auto;
  height: 30px;
  outline: 1px dotted green;
  text-transform: uppercase;
  padding-top: 35px;
  padding-left: 35px;
  @media @tablet-widths {
    position: relative;
    top: 60px;
    left: 220px;
  }
  @media @desktop-widths {
    left: 250px;
    top: -140px;
  }
}

.user-form {
  @media @tablet-widths {
    height: 2210px;
  }
  @media @desktop-widths {
    height: 1290px;
  }
}
